<h1>Crear una cuenta</h1>

@if (errorMessage) {
<div class="error-message">{{ errorMessage }}</div>
}

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <label for="email">Email</label>
  <input
    type="text"
    placeholder="tutifruti@gmail.com"
    formControlName="email"
  />

  <label for="username">Username</label>
  <input type="text" placeholder="terrenator" formControlName="username" />

  <label for="password">Contraseña</label>
  <input
    type="password"
    placeholder="unacontraseñasegura"
    formControlName="password"
  />

  <button type="submit">Continuar</button>
</form>

<div>
  <p class="register-text">Ya tengo una cuenta</p>
  <a routerLink="/login" class="register-link">Iniciar sesión</a>
</div>

