<button (click)="handleLogout()" name="logout" type="button">Logout</button>
<h1 id="title">{{ title }}</h1>

<ul class="games-list">
  <ng-container *ngFor="let item of gamesList; let i = index">
    <li class="game-item" *ngIf="i % 2 === 0">
      <div class="info-container">
        <p class="infoNumber">{{ item.number }}</p>
        <p class="infoTitle">{{ item.title }}</p>
        <p class="infoDescription">{{ item.description }}</p>
      </div>
      <img src="{{ item.img }}" alt="Foto de perfil" class="profile-image" />
    </li>
    <li class="game-item" *ngIf="i % 2 !== 0">
      <img src="{{ item.img }}" alt="Foto de perfil" class="profile-image" />
      <div class="info-container right-align">
        <p class="infoNumber">{{ item.number }}</p>
        <p class="infoTitle">{{ item.title }}</p>
        <p class="infoDescription">{{ item.description }}</p>
      </div>
    </li>
  </ng-container>
</ul>

<footer class="footer">
  <p>Página creada por</p>
  <a routerLink="/aboutMe">Fabiola Suárez</a>
</footer>
