<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#f4f47c"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: #f4f47c; font-family: Roboto">Cargando</p>
</ngx-spinner>

<h1>¡Bienvenida!</h1>

@if (errorMessage) {
<div class="error-message">{{ errorMessage }}</div>
}

<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <label for="email">Email</label>
  <input
    type="text"
    placeholder="tutifruti@gmail.com"
    formControlName="email"
  />

  <label for="password">Contraseña</label>
  <input
    autocomplete="true"
    type="password"
    placeholder="tu contraseña"
    formControlName="password"
  />

  <button type="submit" name="submit">Entrar</button>
  <button
    class="quickAccessBtn"
    type="button"
    name="quickAccess"
    (click)="handleQuickAccess()"
  >
    Acceso rápido
  </button>
</form>

<div>
  <p class="register-text">No tengo una cuenta</p>
  <a routerLink="/register" class="register-link">Registrarme</a>
</div>
